@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root {
   --light-blue:#00b0f3;
   --dark-blue : #008cec;
   --gray:#f4f5f6;
   --light:#ffffff;
   --green: #74c241;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   background:var(--gray);
   line-height: 1.6;
}

img {
   width: 100%;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

.btn {
   background:transparent;
   border:1px solid var(--light);
   border-radius: 10px;
   padding:10px 20px;
   transition: opacity .1s ease-in-out;
}

.btn:hover {
   opacity: .9;
}

.container {
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
   padding: 1.5rem;
}

/* Header */
#header {
   background: linear-gradient(var(--light-blue), var(--dark-blue));
   min-height: 300px !important;
   color:#fff;
}

.header-inner {
   display: flex;
   flex-direction: column;
}

.navs {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border-bottom: 1px solid #33b4f4;
}

.top-nav {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.top-nav-links {
   display: flex;
   align-items: center;
   justify-content: center;
}

.top-nav-links li {
   margin: 0 .6rem;
}

.top-nav-links li i {
   font-size: .75rem;
}

.top-nav-links li:hover {
   text-decoration: underline;
}

.top-nav-links a {
   color:var(--gray);
}

/*********** Dropdown ************/
.top-nav-links .dropdown {
   position: relative;
}

.top-nav-links .dropdown-content {
   width: 200px;
   background: var(--light);
   display: none;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   position: fixed;
   z-index: 1000;
}

.dropdown-content .active {
   color:#000;
}

.dropdown-content a {
   padding:.7rem 1rem;
   color:var(--light-blue);
   width: 100%;
}

.dropdown-content a:hover {
   background: var(--gray);
}

.dropdown-content.show {
   display: flex;
}

/*********** End of Dropdown ************/

.bottom-nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.bottom-nav .logo {
   width:175px;
}

.bottom-nav .logo a {
   padding-bottom:.1rem;
}

.bottom-nav ul {
   display: flex;
   align-items: center;
   justify-content: center;
}

.bottom-nav ul li {
   margin: 0 1rem;
}

.bottom-nav ul a {
   font-size: 1.2rem;
   color:var(--light);
   font-weight: bold;
}

.bottom-nav-link {
   padding-bottom:1rem;
}

.bottom-nav-link:hover, .bottom-nav .logo a:hover {
   border-bottom: 4px solid #e42469;
}

.search {
   margin-top: 2rem;
   position: relative;
}

/* Clouds and the flying man */
.cloud {
   position: absolute;
   right:0;
   bottom:10px;
   width:300px;
   z-index:0;
}

.flying-man {
   position: absolute;
   z-index: 1;
   width:100px;
   right:150px;
   bottom: 30px;
}

.search .description {
   margin-bottom: .7rem;
   color:var(--gray);
}

.search .description h1 {
   font-size: 2.2rem;
}

.search .form {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: .5rem;
   position: relative;
   z-index: 5;
}

.form-control {
   width: 100%;
}

.search .left {
   margin-right: .5rem;
}

.search .form .right {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.left input {
   width: 100%;
}

.search input, .search select {
   padding: .6rem;
   border:none;
   border:1px solid rgba(0, 0, 0, .2);
   font-size: 1.1rem;
   outline: none;
}

.search select {
   width:50%;
   background: #fff;
   color:#333;
}

.form-btn {
   width: 50%;
   margin-left: .5rem;
   background: #e42469;
   color:#fff;
   font-weight: bold;
   padding: .5rem;
   border-radius: 5px;
   text-align: center;
   transition: all .2s ease-in-out;
}

.form-btn:hover {
   opacity: .9;
}

.end-links {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.end-links a {
   color:var(--gray);
   text-decoration: underline;
   transition: .3s all ease-in-out;
}

.end-links a:hover {
   text-decoration: none;
}

/* Section1 */
.section1-inner {
   background: var(--light);
   display: grid;
   grid-template-columns: repeat(3,1fr);
   align-items: center;
   justify-content: center;
   border:1px solid rgba(0, 0, 0, .1);
}

.section1-inner .border-right{
   border-right: 1px solid rgba(0, 0, 0, .1);
}

.section1-item:last-child {
   display: none;
}

.section1-item {
   padding:3rem .1rem;
}

.section1-item {
   padding:3rem .5rem;
   margin: 0 .1rem;
   text-align: center;
}

.section1-item a {
   display: flex;
   align-items: center;
   justify-content: center;
}

.section1-item div {
   color:var(--dark-blue);
   font-size: 1rem;
}

.section1-item div:hover {
   text-decoration: underline;
}

.section1-item a:hover i {
   text-decoration: none;
   color:#e42469;
}

.section1-item i {
   font-size: 2.3rem;
   color:#6b7886;
   margin-right: .5rem;
}

/* Section2 */
.section2-inner {
   background-color: var(--light);
   padding:2rem;
   border:1px solid rgba(0, 0, 0, .1);
}

.companies {
   display: grid;
   grid-template-columns: repeat(6,1fr);
}
.companies li {
   padding: 1rem;
   transition: transform .1s ease-in;
}

.companies li:hover {
   transform: translateY(-4px);
}

.section2-item {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.section2-item a {
   color: var(--dark-blue);
   font-size: 1rem;
}

.section2-item a:hover {
   text-decoration: underline;
}

.section2-item i {
   margin-left: .3rem;
}








/* Media Queries */
@media screen and (max-width:900px) {
   .companies {
      grid-template-columns: repeat(5,1fr);
   }
}
@media screen and (max-width:700px) {
   .navs {
      padding-bottom: 2rem;
   }

   .bottom-nav {
      flex-direction: column;
   }

   .bottom-nav .logo {
      margin-bottom: .5rem;
   }

   .bottom-nav .logo a:hover {
      border-bottom: none;
   }

   .form {
      flex-direction: column;
   }

   .form .left {
      margin-bottom: .5rem;
   }

   .search .left {
      margin-right: 0;
   }

   .section1-inner {
      grid-template-columns: 1fr;
   }
    
   .section1-item:last-child {
      display: block;
   }

   .section1-item {
      border-right:none !important; 
      padding: 1rem;
   }

   .bm {
      border-bottom: 1px solid rgba(0, 0, 0, .2);
   }

   .section1-item a {
      justify-content: flex-start;
   }

   .section1-item i {
      font-size: 1.5rem;
   }

   .section1-item div {
      font-size: 1rem;
   }

   .companies {
      grid-template-columns: repeat(4,1fr);
   }
}

@media screen and (max-width:500px) {
   .top-nav {
      justify-content: left;
      margin-bottom: .5rem;
   }

   .top-nav .top-nav-links{
      flex-direction: column;
   }

   .bottom-nav ul {
      flex-direction: column;
   }

   .bottom-nav li {
      margin-bottom: 1rem !important; 
   }

   .bottom-nav li .bottom-nav-link:hover {
      border-bottom: none;
   }

   .right {
      flex-direction: column;
   }

   .right select {
      width: 100%;
      margin-bottom: .5rem;
   }

   .right .form-btn {
      width: 100%;
   }

   .end-links {
      display: none;
   }

   #section2 {
      display: none;
   }
}